<footer>
      <div class="footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <h3 class="text-center"><%= t "home.about_us" %></h3>
              <p class = "col-md-12">
                <div class = "col-lg-3 text-left">
                  <a href="https://www.facebook.com/profile.php?id=100009511791255" target="_blank">
                    <%= image_tag "avatar" %>
                  </a>
                </div>
                <div class="col-lg-9 text-color">
                  <p>
                    <b>Hiring-office</b>
                  </p>
                  Copyright 2017</p>
                  <%= t "reserved" %>
                </div>
              </p>
            </div>
            <div class="col-sm-3 col-xs-12">
              <h3 class="text-center"><%= t "home.contact" %></h3>
              <ul>
                <li><a target="_blank" class="fa fa-map-marker"
                  href="https://www.google.com/maps/dir/16.073819,108.1454142/Danang+University+of+Technology+54+Nguy%E1%BB%85n+L%C6%B0%C6%A1ng+B%E1%BA%B1ng/@16.0732664,108.1451909,16z/data=!3m1!4b1!4m15!1m6!3m5!1s0x314218d68dff9545:0x714561e9f3a7292c!2sDanang+University+of+Technology!8m2!3d16.0755258!4d108.1536513!4m7!1m0!1m5!1m1!1s0x314218d68dff9545:0x714561e9f3a7292c!2m2!1d108.1536513!2d16.0755258">bach khoa da nang university</a></li>
                <li><a class="fa fa-phone" href="#">01659890153</a></li>
                <li><a class="fa fa-envelope-o" href="https://mail.google.com/mail/u/0/#inbox">thuyvietquoc@gmail.com</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
              <h3><%= t "home.support" %></h3>
              <a target="_blank" class="color-white"
                href="https://drive.google.com/open?id=0B5H0vEUdbVhCcmhGT0VFclQ4XzA">
                <!-- <i class="fa fa-file-pdf-o"></i> <%#= t "layout.guide" %> -->
              </a>
              </p>
              <a target="_blank" class="color-white"
                href="https://docs.google.com/forms/d/1ZCrWYLR_hIqKqaiddJasSBJ4AdL-L4kbdT0k_QetK6c">
                <i class="fa fa-commenting-o"></i></i> <%= t "layout.feedback" %>
              </a>
            </div>
            <div class="col-sm-3 col-xs-12 text-center">
              <h3><%= t "home.follow_us" %></h3>
              <ul class="social">
                <li class="facebook"><a target="_blank"
                  href="https://www.facebook.com/groups/119543551582357">
                  <i class="fa fa-facebook"></i></a></li>
                <li class="google_plus"><a target="_blank"
                  href="https://plus.google.com/110329682908618087419">
                  <i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <p class="text-center">Design by Thuy Viet Quoc</p>
          </div>
        </div>
      </div>
    </footer>
